@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

$primary-color: #232f6d;

* {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

body {
  background-color: #eee;
}

footer {
  background: $primary-color;
  color: #fff;
  min-height: 200px;
  padding-top: 40px;
}

h1 {
  font-family: 'EB Garamond', serif;
  text-decoration: overline;
}

.navbar {
  background-color: #eee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
  margin-bottom: 20px;
}

.nav-item a {
  font-weight: bold;
  text-transform: uppercase;

  &.nav-link.active {
    background-color: $primary-color;
    color: #fff;
  }
}

.shop {
  background: url('/img/shop.jpg') no-repeat center center fixed;
  background-size: cover;
  margin-bottom: 20px;
  min-height: 300px;
}

@include media-breakpoint-down(md) {
  .shop {
    background-position-y: -230px;
  }
}

.barbers .col {
  margin-bottom: 30px;
}

.card {
  background: url('/img/anchor.png') no-repeat bottom right #fff;
  height: 100%;
}

.info {
  padding: 20px;

  h2 {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    padding-bottom: 20px;
  }

  p {
    color: #777;
  }
}

.avatar {
  float: left;
  width: 100%;
}

.instagram img {
  height: 50px;
  margin-bottom: 20px;
  width: 50px;
}
