---
title: Welcome
permalink: /
layout: default
---

<div class="parallax">
  <div class="shop"></div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>About Townies Barbershop</h1>
        <p>We are located at</p>
        <p><a href="https://g.page/towniesbarbershop" rel="noopener" target="_blank">2909 Corrine Dr, Orlando, FL 32803</a></p>
        <p>HOURS</p>
        <p>Monday - Saturday</p>
        <p>9a - 6p, usually</p>
      </div>
    </div>
  </div>
</div>
