<!doctype html>
<html lang="en" dir="ltr">
{% include head.html %}

<body class="no-js">
  <div class="grid-x text-center" style="padding-bottom:20px">
    <div class="cell large-2" style="margin: auto;padding-top:20px">
      <img alt="Townies Barbershop logo" src="/img/logo.png" />
    </div>
  </div>
  <div class="grid-x" style="padding-bottom:20px">
    <div class="cell">
      <ul class="menu align-center">
        {% include navigation.html %}
      </ul>
    </div>
  </div>
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>